/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #FF0070;
  --main-title-color: #DB00FF;
  --title-decor: #FF0070;
  --subtitle-color: #000028;
  --title-color: #FF0070;
  --basic-color: #F1B2CE;
  --elements-color: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --focus-color: #FF0070;
  --link-shadow: #FF0070;
  --section-title: #FF0070;

  background-image: url("../images/cover-image-dark.png");

  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.page.theme_dark .header__record {
  visibility: visible;
}

@media (prefers-color-scheme: dark) {
  .page.theme_auto {
    --accent-color: #FF0070;
    --main-title-color: #DB00FF;
    --title-decor: #FF0070;
    --subtitle-color: #000028;
    --title-color: #FF0070;
    --basic-color: #F1B2CE;
    --elements-color: #FF0070;
    --hover-color: rgba(255, 0, 112, 0.4);
    --focus-color: #FF0070;
    --link-shadow: #FF0070;
    --section-title: #FF0070;
  
    background-image: url("../images/cover-image-dark.png");
  }

  .page.theme_auto .header__record {
    visibility: visible;
  }
}
