/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #FF0070;
  --main-title-color: #FFC2E6;
  --title-decor: #FF8DCB;
  --subtitle-color: #353430;
  --title-color: #353430;
  --basic-color: #353430;
  --elements-color: #353430;
  --hover-color: rgba(53, 52, 48, 0.4);
  --focus-color: #353430;
  --link-shadow: #FF8DCB;
  --section-title: #353430;
  --background-image: url("../images/cover-image-light.png");
  --background-color: #FFF1F7;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

}

@media (prefers-color-scheme: light) {
  .page.theme_auto {
    --accent-color: #FF0070;
    --main-title-color: #FFC2E6;
    --title-decor: #FF8DCB;
    --subtitle-color: #353430;
    --title-color: #353430;
    --basic-color: #353430;
    --elements-color: #353430;
    --hover-color: rgba(53, 52, 48, 0.4);
    --focus-color: #353430;
    --link-shadow: #FF8DCB;
    --section-title: #353430;
    --background-image: url("../images/cover-image-light.png");
    --background-color: #FFF1F7;
  }

  .page.theme_auto .header__record {
    visibility: hidden;
  }
}
