/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --basic-line-height: 23.4px;
  --basic-font-size: 18px;
  --title-line-height: 82.5%;
  --font-family: 'IBM Plex Mono';

  --accent-color: #FF0070;
  --main-title-color: #DB00FF;
  --title-decor: #FF0070;
  --subtitle-color: #000028;
  --title-color: #FF0070;
  --basic-color: #F1B2CE;
  --elements-color: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --focus-color: #FF0070;
  --link-shadow: #FF0070;
  --section-title: #FF0070;
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #000028;
}
